@using SussyKart_Partie1.Models;
@model IEnumerable<MeilleursChronosSoloVM>

<div class="container">
    <h2>Meilleurs chronos dans des parties solo</h2>
    <div class="row justify-content-center">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <!-- Pseudo du joueur -->
                            Joueur
                        </th>
                        <th>
                            <!-- Nom de la course -->
                            Course
                        </th>
                        <th>
                            <!-- Position -->
                            Position
                        </th>
                        <th>
                            <!-- Chrono -->
                            Chrono
                        </th>
                        <th>
                            <!-- Date de la participation -->
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ToList())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Joueur)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Chrono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateParticipation)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
